

.super-mario { width: 200px;
               position: absolute;
               margin-left: 80px;}
  
  .goomba { width: 100px;
            position: absolute;
            margin-left: 130px;
            margin-top: 290px;}
              
  .baloon { position: absolute;
            top: 220px;
            left: 400px;}
  
  .speach { font-size: 25px;
            position: absolute;}
  
  .bowser { width: 200px;
            position: absolute;}